
{% extends 'base/base_template.html' %}
{% load static %}

{% block extcss %}
   <link rel="stylesheet" href="{% static 'base/css/base.css' %}">
{% endblock %}

{% block extjs %}
    <script src="{% static 'base/js/base.js' %}"></script>
{% endblock %}

{% block body %}


    {% block header %}
        <header>爱鲜蜂</header>
    {% endblock %}


    {% block content %}


    {% endblock %}


    {% block footer %}
        <footer>
          底部模块
        </footer>
    {% endblock %}


{% endblock %}