
{% extends 'base/base_template.html' %}
{% load static %}

{% block extbasecss %}
    <link rel="stylesheet" href="{% static 'base/css/base.css' %}">
    {% block extcss %}
    {% endblock %}
{% endblock %}

{% block extbasejs %}
    <script src="{% static 'base/js/base.js' %}"></script>
    {% block extjs %}
    {% endblock %}
{% endblock %}

{% block body %}


    {% block header %}
        <header>爱鲜蜂</header>
    {% endblock %}


    {% block content %}
        <h1>啦啦啦啦啦啦</h1>
        <h2>哈哈哈哈哈哈</h2>
    {% endblock %}


    {% block footer %}
        <footer>
          底部模块
        </footer>
    {% endblock %}


{% endblock %}